.pagination {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    margin: 2rem 0;
    font-variant-numeric: tabular-nums;
  }
  
  .pagination-button {
    font-size: 18px;
    min-width: 40px;
    height: 40px;
    border: none;
    border-radius: 4px;
    text-align: center;
    background-color: var(--button-bg);
    color: var(--button-text);
    cursor: pointer;
    transition: all 0.2s;
  }
  
  .pagination-button:hover {
    background-color: var(--accent-primary);
    color: rgb(98, 96, 96);
  }
  
  .pagination-button.active {
    background-color: var(--accent-primary);
    color: black;
    font-weight: bold;
  }